<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QuanLyDeThiTracNghiem.Properties.Settings.ProjectConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Project.accdb"
      providerName="System.Data.OleDb" />
    <add name="QuanLyDeThiTracNghiem.Properties.Settings.BPNSConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\BPNS.accdb"
      providerName="System.Data.OleDb" />
    <add name="QuanLyDeThiTracNghiem.Properties.Settings.BPNSConnectionString1"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Luan Le\Downloads\BPNS.accdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="QuanLyDeThiTracNghiem.Properties.Settings.QLDTTNConnectionString"
      connectionString="Data Source=DESKTOP-RDAUML9;Initial Catalog=QLDTTN;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QuanLyDeThiTracNghiem.Properties.Settings.QLDTTNConnectionString1"
      connectionString="Data Source=localhost;Initial Catalog=QLDTTN;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QuanLyDeThiTracNghiem.Properties.Settings.THI_TNConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=THI_TN;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>